.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../public/images/follow.png);
  aspect-ratio: 5/1.5;
  gap: 20px;
}
.title {
  font-size: 60px;
  font-weight: 700;
}
.subtitle {
  font-size: 20px;
}
.follow_btn {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50px;
  background: #faf4f4;
  height: 64px;
  width: 255px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  cursor: pointer;
  text-decoration: none;
}
.follow_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
