.container {
  background: #faf4f4;
  
}
.prod_items {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 30px;
  padding: 98px 0;
}
.prod_item {
  display: flex;
  flex-direction: column;
  align-items:center
}
.prod_item .img {
  width: 60%;
  border-radius: 50%;
}
.product_title {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 40px;
}

